body{
    background-color: var(--white-smoke);
}

.inicio{
    width: 100%;
    height: 100vh;
    background-color: black;

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
}

.inicio video{
    position: absolute;
    z-index: 1;
}

.info-incial{
    width: 95%;
    height: 92%;

    position: relative; 
    z-index: 2;
}

.info-principal{
    width: 100%;
    height: 100%;
}

.header a{
    color: var(--white);
    transition: all .2s;
    padding: 10px;
    border-radius: 3px;
}

.header a:hover{
    opacity: .5;
}

.header__ul{
    display: flex;
    gap: 3.125em;
}

.title{
    position: absolute;
    top: 250px;
    left: 150px;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.title h1{
    color: var(--white);
    font-size: 70px;
    font-weight: bold;
    padding-bottom: 3.125rem;
}

.title__btn{
    background-color: var(--cool-horizon);
    padding: .9375em;
    border-radius: .375em;
    color: var(--white);

    transition: all .2s;
}

.title__btn:hover{
    opacity: .8;
}

.sobre-nosotros{
    height: 28.125rem; 
    width: 100%; 
    padding: 10px; 
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;
}

.descripcion{
    width: 50%;
    padding: 15px;
}

.descripcion__h2{
    padding-bottom: .9375em;
    font-size: 2.5em;
    font-weight: bolder;
}

.descripcion__p{
    width: 100%;
    text-align: justify;
    line-height: 30px;
}

.icons-descrip__container{
    width: 50%;
    height: 21.875em;
    
    gap: 3.125em;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
}

.incon-descrip__pet{
    background-color: var(--dust-gray);
    border-radius: .5em;
    padding: .925em;
    transition: all .2s;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.incon-descrip__pet:hover{
    transform: scale(.98);
}

.incon-descrip__pet p{
    padding-top: .9375em;
    font-size: 1.25em;
}